*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#wrapper {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-areas: 
    "sidebar"
    "main";
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding: 10px 0;
    background-color: #fefefe;
}

.sidebar .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

.openSb {
    font-size: 30px;
    cursor: pointer;
    padding: 5px 5px;

}

.main {
    grid-area: main;
    
    transition: margin-left .3s;
    padding: 5px;
}

.projectForm, .taskForm {
    display: flex;
    justify-content: center;
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

#proForm, #tForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20% auto;
    background-color: #fefefe;
    height: fit-content;
    padding: 15px;
    border-radius: 3px;
}

.addProject, .addTask {
    margin: 10px auto;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.tContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.proContainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(50px, 150px));
}

.newButtons, .tab {
    margin-bottom: 10px;
    margin-left: 10px;
}

.newButtons:hover, .tab:hover{
    cursor: pointer;
}

.projectList > li {
    color: rgba(0, 0, 0, 0.6);
}